* {
    box-sizing: border-box;
}

/*HEADER*/
.hero{
    /*background-color: #1abc9c;*/
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('https://c.tenor.com/j7JAKCPebRwAAAAC/tenor.gif');
    background-size: cover;
    background-position: center; 
    color: rgb(255, 255, 255);
    padding: 100px;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    font-size: 20px;
    margin: 0;
}
/*NAVBAR*/
.navbar {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    position: sticky;
    top: 0;
    display: flex;
    gap: 10px;
}

.navbar a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background 0.2s, color 0.2s;
}

.navbar a:hover {
    background-color: #00b806;
    /*background-color: #dddddd;*/
    color: black;
}

/*.navbar a.active {
    background-color: #4CAF50;
    color: white;
}*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

